body{
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.main-title{
    color: #385555;
    text-align: center;
    border-bottom: solid black 2px;
    width: 7em;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    width: 90%;
    max-width: 860px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    padding: 0;
}
.list-item{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 2px 8px rgba(0,0,0,.2);
    background-image: url(thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.list-item__imagem img{
    border-radius: 50%;
    margin-top: 100px;
}
.list-item__name{
    margin: 0;
    font-size: 24px;
    color: #385555;
}
.list-wrapper{
    display: flex;
    justify-content: center;
}